@font-face {
  font-family: "proxima";
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/FontsFree-Net-Proxima-Nova-Bold.woff2")
      format("woff2");
  /* Super Modern Browsers */
  font-weight: 700;
}

@font-face {
  font-family: "proxima";
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/FontsFree-Net-Proxima-Nova-Sbold.woff2")
      format("woff2");
  /* Super Modern Browsers */
  font-weight: 600;
}

@font-face {
  font-family: "proxima";
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Light.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/FontsFree-Net-Proxima-Nova-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/FontsFree-Net-Proxima-Nova-Light.woff2")
      format("woff2");
  /* Super Modern Browsers */
  font-weight: 300;
}

@import "vars";
@import "base";
@import "Layout";
@import "general";
@import "header";
@import "hero";
@import "show-case";
@import "map-section";
@import "footer";
@import "media-queries";
